<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Wind01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 162}, {65, 96}}</string>
			<key>spriteOffset</key>
			<string>{-92, -81}</string>
			<key>spriteSize</key>
			<string>{65, 96}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 106}, {65, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wind02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 147}, {95, 88}}</string>
			<key>spriteOffset</key>
			<string>{-53, -62}</string>
			<key>spriteSize</key>
			<string>{95, 88}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 0}, {95, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wind03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{99, 96}, {67, 108}}</string>
			<key>spriteOffset</key>
			<string>{8, -21}</string>
			<key>spriteSize</key>
			<string>{67, 108}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 114}, {67, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wind04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{126, 47}, {71, 106}}</string>
			<key>spriteOffset</key>
			<string>{37, 29}</string>
			<key>spriteSize</key>
			<string>{71, 106}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 0}, {71, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wind05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 35}, {127, 70}}</string>
			<key>spriteOffset</key>
			<string>{50, 59}</string>
			<key>spriteSize</key>
			<string>{127, 70}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 89}, {127, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wind06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{200, 0}, {49, 114}}</string>
			<key>spriteOffset</key>
			<string>{100, 72}</string>
			<key>spriteSize</key>
			<string>{49, 114}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {49, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wind07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{199, 13}, {23, 18}}</string>
			<key>spriteOffset</key>
			<string>{86, 107}</string>
			<key>spriteSize</key>
			<string>{23, 18}</string>
			<key>spriteSourceSize</key>
			<string>{249, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 223}, {23, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>gameWind</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>gameWind</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>