<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Heart01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 27}, {45, 37}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{45, 37}</string>
			<key>spriteSourceSize</key>
			<string>{83, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 72}, {45, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Heart02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {61, 53}}</string>
			<key>spriteOffset</key>
			<string>{3, 6}</string>
			<key>spriteSize</key>
			<string>{61, 53}</string>
			<key>spriteSourceSize</key>
			<string>{83, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 72}, {61, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Heart03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {77, 69}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{77, 69}</string>
			<key>spriteSourceSize</key>
			<string>{83, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{83, 0}, {77, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Heart04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {83, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{83, 71}</string>
			<key>spriteSourceSize</key>
			<string>{83, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {83, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>gameHeart</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>gameHeart</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>